.layer {
  position: absolute;
  inset: 0;
  z-index: 6;
  pointer-events: none;
}

.renderHost {
  position: absolute;
  inset: 0;
  pointer-events: none;
}

.hit {
  position: absolute;
  left: 50%;
  top: 50%;
  width: min(60vmin, 560px);
  height: min(60vmin, 560px);
  transform: translate(-50%, -50%);
  pointer-events: auto;
  touch-action: none;
}

.renderHost canvas {
  width: 100%;
  height: 100%;
  display: block;
}